<mat-nav-list>

<a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="/">
  <mat-icon>home</mat-icon>
  <span class="navegation-list-label">Home</span>
</a>

<a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/login">
  <mat-icon>login</mat-icon>
  <span class="navegation-list-label">Inicio Sesion</span>
</a>

<a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="auth/registration">
  <mat-icon>how_to_register</mat-icon>
  <span class="navegation-list-label">Registrar</span>
</a>

<a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()">
  <mat-icon>contact_support</mat-icon>
  <span class="navegation-list-label">Contacto</span>
</a>

<a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="inmueble/nuevo">
  <mat-icon>add</mat-icon>
  <span class="navegation-list-label">Nuevo Inmueble</span>
</a>

<a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="inmueble/list">
  <mat-icon>add</mat-icon>
  <span class="navegation-list-label">Inmuebles</span>
</a>

<a *ngIf="isAuthorized" mat-list-item (click)="onSignOut()" (click)="closeMenu()">
  <mat-icon>logout</mat-icon>
  <span class="navegation-list-label">Salir Sesion</span>
</a>


</mat-nav-list>
