<mat-sidenav-container>
  <mat-sidenav #menu>
    <app-menu-list (menuToggle)="menu.toggle()"
    (signOut)="onSignOut()"
    [isAuthorized] = "isAuthorized$ | async"></app-menu-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuToggle)="menu.toggle()"
    [isAuthorized] = "isAuthorized$ | async"
    [user] = "user$ | async"
    (signOut)="onSignOut()"></app-header>
    <main>
      <router-outlet>

      </router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
