$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base:#000000;

$primary: #0277bd;
$primary-dark: #004c8c;
$primary-light:#58a5f0;
$on-primary: #ffffff;

$secondary: #f44336;
$seconday-dark: #b90007;
$seconday-light: #ff795d;
$on-seconday: #ffffff;

$error:#B00020;
$on-error: #ffffff;

$success:#0eaa00;
$on-success:#ffffff;


