<app-spinner *ngIf="loading$ | async"></app-spinner>

<section fxLayoutAlign="center">
  <mat-card>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="RegistrarUsuario(f)">

      <mat-form-field>
        <mat-label>Ingrese Nombre</mat-label>
        <input type="text" matInput placeHolder="Ingrese Nombre" name="nombre" ngModel required>
        <mat-error>Debe ingresar un Nombre</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Apellidos</mat-label>
        <input type="text" matInput placeHolder="Ingrese Apellidos" name="apellidos" ngModel required>
        <mat-error>Debe ingresar apellidos</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese UserName</mat-label>
        <input type="text" matInput placeHolder="Ingrese UserName" name="username" ngModel required>
        <mat-error>Debe ingresar username</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Telefono</mat-label>
        <input type="text" matInput placeHolder="Ingrese telefono" name="telefono" ngModel required>
        <mat-error>Debe ingresar un telefono</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese E-mail</mat-label>
        <input type="email" matInput placeHolder="E-Mail" name="email" ngModel required>
        <mat-error>Debe ingresar un E-Mail</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Password</mat-label>
        <input type="password" matInput placeHolder="Password" name="password" ngModel required minLength="7">
        <mat-error>El password debe tener mas de 7 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirme Password</mat-label>
        <input type="password" matInput placeHolder="Confirme Password" name="passwordconfirme" ngModel required minLength="7">
        <mat-error>El password debe tener mas de 7 caracteres</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>

  </mat-card>

</section>
